* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

.containerkn {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.TaskList {
  display: flex;
  justify-content: space-between;
}

.ButtonAdd {
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: 0 white;
  width: 60px;
  height: 30px;
}

.BoxInput {
  display: flex;

  margin: 10px 0 10px 0;
}

.BoxButton {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
  border-bottom: 1px solid black;
}

.title {
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
}

.btnFilter {
  width: 33%;
}
.btnFilter button {
  background-color: white;
  width: 100%;
  border: white;
}
.btnFilter button:hover {
  background-color: aqua;
}
